@media (max-width: 420px) {

    
   
    .nav-wrapper {
        flex-direction: column;
        align-items: center;
        height:100%;
        
    }


    .contact-photos {
        flex-direction: column;
        align-items: center;
        
        
    }

    .contact-photos > .img {
        flex-direction: column;
        /* align-items: center; */
    }

}
